/* Root typography settings */
html{
/*   set the following properties: 
  font-size - this will be the base font size for the site
  font-family - this will be the base font-family for the site
  line-height - base line height, generally should be in the range 1.5-1.8 
  color- primary text color for the site
  background-color - primary background color for the site */

  /* FONT FAMILY /*
  font-family: "Bebas Neue", "Karla";
}


/* General heading styles */


h1, h2, h3, h4, h5, h6{
/*  set font styles for all of your headings, for example font-weight, line-height, font-family */
font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body{
  background-color: #F1F2F0;
  width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

/* Specific element text styles */
h1{
  /*   this is the page title */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

p{
  font-family: "Karla";
  margin-bottom: 1rem; /* optional but usually good to have a space between paragraphs */
}

a{
  color: #731D09;
}
a:hover{
  color: #9FA66F;
}
a:visited{
  color:#F2B138
}
/* -------------  Header styles ------------------------- */
header {
  display: flex;
  justify-content: space-between; /* site title left, nav right */
  align-items: center;           /* vertical centering */
  padding: 1rem;
}

/* Styles the site title at the top of the header */
.site-title {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;   /* remove bullets */
  margin: 0;
  padding: 0;
  display: flex;      /* horizontal layout for links */
  gap: 1rem;          /* space between items */
}

nav a {
  text-decoration: none;
  color: 
#333;
  font-weight: 500;
}

nav a:hover {
  color: 
#F27244; /* hover color */
}

/* ------------- END Header styles  */
}
